h1 {
  text-align: center;
}

.square {
  font-size: 150px;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
}

.gameboard {
  width: 620px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
